body{
    background-color: lightsalmon;
}

h1 {
    text-align: center;
}

.container {
    width: 80%;
    max-width: 1000px;
  }

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px; /*check what 1 0 is*/
    max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li button {
    padding: 8px 16px;
    border: none;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-inner li{
    width: 100px;
}

.flex-inner{
    justify-content: space-between;
}